asgiref==3.2.2
asn1crypto==1.0.1
attrs==19.2.0
autobahn==19.10.1
Automat==0.7.0
beautifulsoup4==4.8.0
cffi==1.12.3
constantly==15.1.0
cryptography==2.7
daphne==2.3.0
Django==2.2.5
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
pycparser==2.19
PyHamcrest==1.9.0
pytz==2019.2
six==1.12.0
soupsieve==1.9.3
sqlparse==0.3.0
Twisted==19.7.0
txaio==18.8.1
zope.interface==4.6.0
