{% extends "base.html" %}

{% block content %}

{% if form.errors %}
    <p>Your username and password didn't math. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form  method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{form.as_p}}
<input type="submit" value="Login">
<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}