{% extends "index.html" %}

{% load static %}

{% block title %}Sign Up{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
<div class="sign_in_wrapper">
    <div class="sign_in_form">
      <h2>Pied Piper Sign Up</h2>
      <hr>
      <form action="{% url 'register' %}" method="POST">
          {% csrf_token %}
          {% for field in form %}
          <div class="email_field">
              {{ field.errors }}
              {{field}}
          </div>
          {% endfor %}
          <div class="submit_button">
            <input type="submit" value="Submit" class="buton buton-bg">
          </div>
      </form>
    </div>
  </div>
{% endblock %}