body {
  font-family: 'Poppins', sans-serif;
  color: #343434;
  font-weight: 400;
  background-image: url('../img/back.jpg');
}


.sign_in_wrapper {
  margin: 11% auto;
  width: 30%;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  opacity: 0.9;
  background-color: #f2f2f2;
}

.sign_in_form {
  margin: 5% auto;
  padding: 2% 2%;
  height: auto;
  width: 90%;
}

.sign_in_form h2 {
  text-align: center;
}

.description_field textarea {
  width: 100%;
}

.sign_in_form form div {
  margin-top: 4%;
  width: 100%;
}

.sign_in_form form div input {
  height: 40px;
  width: 100%;
}

.submit_button {
  text-align: center;
}

.submit_button input {
  padding: 2% 0;
  font-size: 15px !important;
}
.errorlist{
  color:red;
}

@media screen and (max-width: 1200px) {
  body {
    background-size: auto;
  }
  .sign_in_wrapper {
    margin: 15% auto;
    width: 45%;
  }
}

@media screen and (max-width: 1024px) {
  .sign_in_wrapper {
    margin: 18% auto;
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .sign_in_wrapper {
    margin: 20% auto;
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .sign_in_wrapper {
    margin: 25% auto;
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .sign_in_wrapper {
    margin: 32% auto;
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .sign_in_wrapper {
    margin: 45% auto;
    width: 95%;
  }
}

@media screen and (max-width: 320px) {
  .sign_in_wrapper {
    margin: 60% auto;
    width: 100%;
  }
}