body {
  font-family: 'Poppins', sans-serif;
  color: #343434;
  font-weight: 400;
  background-image: url('../img/back.jpg');
  background-size: cover;
}


.sign_in_wrapper {
  margin: 11% auto;
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  opacity: 0.9;
  background-color: #f2f2f2;
}

.sign_in_form {
  margin: 5% auto;
  padding: 2% 2%;
  height: auto;
  width: 90%;
}

.sign_in_form h2 {
  text-align: center;
}

.sign_in_form hr {
      border-top: 1px solid grey;
}

.buttons {
  margin: 2% auto;
  width: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.buttons div a {
  border-style: solid;
  border-width: 1px;
  border-color: #1c1c1c;
  background: #1c1c1c;
  color: #eee;
}

.buttons div a:hover {
  background: #eee;
  color: #1c1c1c;
}

.no_order_message {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.no_order_message p {
  width: 100%;
  font-size: 18px;
}

.submit_button {
  text-align: left;
}

.submit_button input {
  padding: 2% 2%;
  font-size: 15px !important;
}

.sign_in_form table {
  margin-top: 5%;
  width: 100%;
  border-collapse: collapse;
}

.sign_in_form th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.sign_in_form tr:hover {background-color:#f5f5f5;}

.pages ul {
  margin: 2% auto 0 auto;
  width: 30%;
  text-align: center;
}

.pages ul li {
  margin-left: 1%;
  font-size: 15px;
  display: inline;
  list-style-type: none;
}
.submit-color{
  color:black;
}

@media screen and (max-width: 1200px) {
  body {
    background-size: auto;
  }
  .buttons {
    width: 23%;
  }
  .sign_in_wrapper {
    margin: 18% auto;
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  body {
    background-size: auto;
  }
  .buttons {
    width: 23%;
  }
  .sign_in_wrapper {
    margin: 20% auto;
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  body {
    background-size: auto;
  }
  .buttons {
    width: 23%;
  }
  .sign_in_wrapper {
    margin: 25% auto;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-size: auto;
  }
  .buttons {
    width: 27%;
  }
  .sign_in_wrapper {
    margin: 27% auto;
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-size: auto;
  }
  .buttons {
    width: 33%;
  }
  .sign_in_wrapper {
    margin: 35% auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-size: auto;
  }
  .buttons {
    width: 40%;
  }
  .sign_in_wrapper {
    margin: 45% auto;
    width: 95%;
  }
  .sign_in_form {
    padding: 2% 0;
    width: 98%;
    overflow-x: auto;
  }
}

@media screen and (max-width: 320px) {
  body {
    background-size: auto;
  }
  .buttons {
    width: 53%;
  }
  .sign_in_wrapper {
    margin: 65% auto;
    width: 99%;
  }
  .sign_in_form {
    overflow-x: auto;
  }
}