@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
*{
    font-family: 'Mansalva', cursive;
}
.navbar-shadow{
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
}
.nav-col{
    background-color: #e3f2fd;
}
.div-shadow{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 30px;
}
.navbar-header, .nav-link-header{
    color: white;
    text-shadow: blue 0 0 2px;
    display: inline-block;
    text-decoration: none;
}
.order-header{
    color: #e3f2fd;
    text-shadow: blue 0 0 2px;
}
.navbar-header:hover,.nav-link-header:hover{
    color:  #e3f2fd;
}
.nav-link-header{
    font-size: 25px;
}
.navbar-a{
   outline: none;
}
.t-img{
    width: 20px;
}
.btn-revoke{
    color: #f87b81;
    text-decoration: none;
}
.btn-revoke:hover{
    color: red;
    text-decoration: none;

}
.btn-detail:hover{
    color:white;
    text-decoration: none;
}
table {     table-layout: fixed;     width:100% } td {     word-wrap:break-word; }