{% extends "index.html" %}
{% load static %}
{% block title %}Pied Piper{% endblock %}

{% block content %}
		{% include 'navigation.html' %}
    	<!-- ====== Preloader ======  -->
	    <div class="loading">
			<div class="load-circle">
			</div>
		</div>
		<!-- ======End Preloader ======  -->

		<!-- ====== Header ======  -->
		<section id="home" class="header carousel-section" data-scroll-index="0" data-stellar-background-ratio="0.8">

			<div class="v-middle">
				<div class="container">
					<div class="row">

						<!-- caption -->
						<div class="caption">
							<h5>Hello</h5>
							<h1 class="cd-headline clip">
					            <span class="blc">I Am </span>
					            <span class="cd-words-wrapper">
					              <b class="is-visible">Pied Piper</b>
					              <b>Developer</b>
					              <b>Designer</b>
					            </span>
			          		</h1>

			          		<!-- social icons -->
			          		<div class="social-icon">
			          			<a href="#0">
			          				<span><i class="fa fa-facebook" aria-hidden="true"></i></span>
			          			</a>
			          			<a href="#0">
			          				<span><i class="fa fa-twitter" aria-hidden="true"></i></span>
			          			</a>
			          			<a href="#0">
			          				<span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
			          			</a>
			          			<a href="#0">
			          				<span><i class="fa fa-youtube" aria-hidden="true"></i></span>
			          			</a>
			          		</div>
						</div>
						<!-- end caption -->
					</div>
				</div><!-- /row -->
			</div><!-- /container -->
		</section>
		<!-- ====== End Header ======  -->

		<!-- ====== Hero ======  -->
		<section class="hero section-padding pb-70" data-scroll-index="1">
			<div class="container">
				<div class="row">

					<!-- hero image -->
					<div class="col-md-5">
						<div class="hero-img mb-30">
							<img src="{% static 'img/hero.jpg' %}" alt="">
						</div>
					</div>

					<!-- content -->
					<div class="col-md-7">
						<div class="content mb-30">
							<h3>About Us.</h3>
							<span class="sub-title">UI / UX Designers & Web Developers</span>
							<p>We are <b>Pied Piper</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever It has survived not only five centuries, but also the leap into electronic  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing</p>

							<!-- skills progress -->
							<div class="skills">
								<div class="item">
									<div class="skills-progress">
										<h6>Web Design</h6>
										<span data-value="95%"></span>
									</div>
								</div>
								<div class="item">
									<div class="skills-progress">
										<h6>Branding</h6>
										<span data-value="80%"></span>
									</div>
								</div>
								<div class="item">
									<div class="skills-progress">
										<h6>Development</h6>
										<span data-value="90%"></span>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>

							<!-- <a href="#0" data-scroll-nav="6">
								<span class="buton">Contact Us</span>
							</a> -->

						</div>
					</div>
				</div><!-- /row -->
			</div><!-- /container -->
		</section>
		<!-- ====== End Hero ======  -->

		<!-- ====== Services ======  -->
		<section class="services section-padding bg-gray text-center pb-70" data-scroll-index="2">
			<div class="container">

				<!-- section heading -->
				<div class="section-head">
					<h3>Services.</h3>
				</div>

				<div class="row">

					<!-- items -->
					<div class="col-md-4">
						<div class="item">
							<span class="icon"><i class="fa fa-laptop" aria-hidden="true"></i></span>
							<h6>Web Design</h6>
							<p>Lorem Ipsum is simply dummy text of the Lorem Ipsum has been the industry's standard dummy text ever</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<span class="icon"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
							<h6>Branding</h6>
							<p>Lorem Ipsum is simply dummy text of the Lorem Ipsum has been the industry's standard dummy text ever</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<span class="icon"><i class="fa fa-umbrella" aria-hidden="true"></i></span>
							<h6>Development</h6>
							<p>Lorem Ipsum is simply dummy text of the Lorem Ipsum has been the industry's standard dummy text ever</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<span class="icon"><i class="fa fa-diamond" aria-hidden="true"></i></span>
							<h6>Creative Design</h6>
							<p>Lorem Ipsum is simply dummy text of the Lorem Ipsum has been the industry's standard dummy text ever</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<span class="icon"><i class="fa fa-television" aria-hidden="true"></i></span>
							<h6>Fully Responsive</h6>
							<p>Lorem Ipsum is simply dummy text of the Lorem Ipsum has been the industry's standard dummy text ever</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<span class="icon"><i class="fa fa-camera" aria-hidden="true"></i></span>
							<h6>Retina Ready</h6>
							<p>Lorem Ipsum is simply dummy text of the Lorem Ipsum has been the industry's standard dummy text ever</p>
						</div>
					</div>
				</div><!-- /row -->
			</div><!-- /container -->
		</section>
		<!-- ====== End Services ======  -->

		<!--====== Portfolio ======-->
		<section class="portfolio section-padding pb-70" data-scroll-index="3">
			<div class="container">
				<div class="row">

					<!-- section heading -->
					<div class="section-head">
						<h3>Portfolio.</h3>
					</div>

					<!-- filter links -->
					<div class="filtering text-center mb-50">
						<span data-filter='*' class="active">All</span>
						<span data-filter='.brand'>Brand</span>
						<span data-filter='.web'>Design</span>
						<span data-filter='.graphic'>Graphic</span>
					</div>

					<!-- gallery -->
					<div class="gallery text-center">

						<!-- gallery item -->
						<div class="col-md-4 col-sm-6 items graphic">
							<div class="item-img">
								<img src="{% static 'img/portfolio/1.jpg' %}" alt="image">
								<div class="item-img-overlay">
									<div class="overlay-info v-middle text-center">
										<h6 class="sm-titl">WEB DESIGN</h6>
										<div class="icons">
											<span class="icon">
												<a href="#0">
													<i class="fa fa-chain-broken" aria-hidden="true"></i>
												</a>
											</span>

											<span class="icon link">
												<a href="img/portfolio/1.jpg">
													<i class="fa fa-search-plus" aria-hidden="true"></i>
												</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 col-sm-6 items web">
							<div class="item-img">
								<img src="{% static 'img/portfolio/2.jpg' %}" alt="image">
								<div class="item-img-overlay">
									<div class="overlay-info v-middle text-center">
										<h6 class="sm-titl">WEB DESIGN</h6>
										<div class="icons">
											<span class="icon">
												<a href="#0">
													<i class="fa fa-chain-broken" aria-hidden="true"></i>
												</a>
											</span>

											<span class="icon link">
												<a href="img/portfolio/2.jpg">
													<i class="fa fa-search-plus" aria-hidden="true"></i>
												</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 col-sm-6 items graphic">
							<div class="item-img">
								<img src="{% static 'img/portfolio/3.jpg' %}" alt="image">
								<div class="item-img-overlay">
									<div class="overlay-info v-middle text-center">
										<h6 class="sm-titl">WEB DESIGN</h6>
										<div class="icons">
											<span class="icon">
												<a href="#0">
													<i class="fa fa-chain-broken" aria-hidden="true"></i>
												</a>
											</span>

											<span class="icon link">
												<a href="img/portfolio/3.jpg">
													<i class="fa fa-search-plus" aria-hidden="true"></i>
												</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 col-sm-6 items brand">
							<div class="item-img">
								<img src="{% static 'img/portfolio/4.jpg' %}" alt="image">
								<div class="item-img-overlay">
									<div class="overlay-info v-middle text-center">
										<h6 class="sm-titl">WEB DESIGN</h6>
										<div class="icons">
											<span class="icon">
												<a href="#0">
													<i class="fa fa-chain-broken" aria-hidden="true"></i>
												</a>
											</span>

											<span class="icon link">
												<a href="img/portfolio/4.jpg">
													<i class="fa fa-search-plus" aria-hidden="true"></i>
												</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 col-sm-6 items web graphic">
							<div class="item-img">
								<img src="{% static 'img/portfolio/5.jpg' %}" alt="image">
								<div class="item-img-overlay">
									<div class="overlay-info v-middle text-center">
										<h6 class="sm-titl">WEB DESIGN</h6>
										<div class="icons">
											<span class="icon">
												<a href="#0">
													<i class="fa fa-chain-broken" aria-hidden="true"></i>
												</a>
											</span>

											<span class="icon link">
												<a href="img/portfolio/5.jpg">
													<i class="fa fa-search-plus" aria-hidden="true"></i>
												</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-4 col-sm-6 items brand">
							<div class="item-img">
								<img src="{% static 'img/portfolio/6.jpg' %}" alt="image">
								<div class="item-img-overlay">
									<div class="overlay-info v-middle text-center">
										<h6 class="sm-titl">WEB DESIGN</h6>
										<div class="icons">
											<span class="icon">
												<a href="#0">
													<i class="fa fa-chain-broken" aria-hidden="true"></i>
												</a>
											</span>

											<span class="icon link">
												<a href="img/portfolio/6.jpg">
													<i class="fa fa-search-plus" aria-hidden="true"></i>
												</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div><!-- /row -->
			</div><!-- /container -->
		</section>
		<!--====== End Portfolio ======-->

		<!--====== Clients ======-->
		<section class="clients section-padding bg-gray" data-scroll-index="4">
			<div class="container">
				<div class="row">

					<!-- section heading -->
					<div class="section-head">
						<h3>Testimonials.</h3>
					</div>

					<!-- owl carousel -->
					<div class="col-md-offset-1 col-md-10">
						<div class="owl-carousel owl-theme text-center">

							<!-- citems -->
							<div class="citem">
								<div class="author-img">
									<img src="{% static 'img/clients/1.jpeg' %}" alt="">
								</div>
								<p>Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								<h6>Mark Zuckerberg</h6>
								<span>Pied Piper Customer</span>
							</div>

							<div class="citem">
								<div class="author-img">
									<img src="{% static 'img/clients/2.png' %}" alt="">
								</div>
								<p>Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								<h6>Elon Mask</h6>
								<span>Pied Piper Customer</span>
							</div>

							<div class="citem">
								<div class="author-img">
									<img src="{% static 'img/clients/3.jpg' %}" alt="">
								</div>
								<p>Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								<h6>Petro Poroshenko</h6>
								<span>Pied Piper Customer</span>
							</div>
						</div>
					</div>
				</div><!-- /row -->
			</div><!-- /container -->
		</section>
		<!--====== End clients ======-->

		<!--====== Numbers ======-->
		<div class="numbers section-padding text-center pb-70">
			<div class="container">
				<div class="row">

					<!-- items -->
					<div class="col-md-3">
						<div class="item">
							<span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
							<h3 class="counter">850</h3>
							<p>Happy Customers</p>
						</div>
					</div>

					<div class="col-md-3">
						<div class="item">
							<span class="icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
							<h3 class="counter">230</h3>
							<p>Complete Projects</p>
						</div>
					</div>

					<div class="col-md-3">
						<div class="item">
							<span class="icon"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
							<h3 class="counter">9450</h3>
							<p>Lines Of Code</p>
						</div>
					</div>

					<div class="col-md-3">
						<div class="item">
							<span class="icon"><i class="fa fa-cloud-download" aria-hidden="true"></i></span>
							<h3 class="counter">780</h3>
							<p>Files Downloaded</p>
						</div>
					</div>

				</div><!-- /row -->
			</div><!-- /container -->
		</div>
        <!--====== End Numbers ======-->
        
		<!--====== Contact ======-->
		<section class="contact section-padding" data-scroll-index="6">
			<div class="container">
				<div class="row">

					<div class="section-head">
						<h3>Contact Us.</h3>
					</div>

					<div class="col-md-offset-1 col-md-10">

						<div class="info text-center mb-50">

							<div class="col-md-4">
								<div class="item">
									<span class="icon"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
									<h6>Address</h6>
									<p>6834 Hollywood Blvd - Los Angeles CA</p>
								</div>
							</div>

							<div class="col-md-4">
								<div class="item">
									<span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
									<h6>Email</h6>
									<p>Support@website.com</p>
								</div>
							</div>

							<div class="col-md-4">
								<div class="item">
									<span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
									<h6>Phone</h6>
									<p>+20 010 2517 8918</p>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
          </div>
        </div>
      </div>
    </section>

		<!--====== End Contact ======-->

		<!--====== Footer ======-->
		<footer>
			<div class="container text-center">
				<div class="row">
					<p>Copy Right 2018 &copy; By Pied Piper All Rights Reserved</p>
				</div>
			</div>
		</footer>
		<!--====== End Footer ======-->

{% endblock %}