{% extends "base.html" %}


{% block title %}Orders{% endblock %}

{% block content %}

<a href="{% url 'create_order' %}">Add order</a>

{% if orders %}
    <table>
        <th>Date</th>
        <th>Status</th>
        <th>Price</th>
        <th>Deadline</th>
        <th>Paid</th>
        <th>Actions</th>
        {% for order in orders %}
            <tr>
                <td>{{order.created}}</td>
                <td>{{order.status}}</td>
                {% if order.price %}
                    <td>{{order.price}}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td>{{order.deadline}}</td>
                <td>
                    {% if order.paid %}
                        +
                    {% else %}
                        - 
                    {% endif %}
                </td>
                <td>
                    <a href="{{order.get_absolute_url}}">Detail</a>
                    {% if order.status == 'processing' %}
                        <form action="{{order.get_absolute_url}}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Revoke">
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% include  'pagination.html' with page=orders %}

{% else %}
    <p>No orders.</p>
{% endif %}
{% endblock %}