{% extends "base.html" %}


{% block title %}Orders{% endblock %}

{% block content %}

<a href="{% url 'order' %}">Add order</a>

{% if orders %}
    <table>
        <th>Date</th>
        <th>Status</th>
        <th>Price</th>
        <th>Deadline</th>
        <th>Actions</th>
        {% for order in orders %}
            <tr>
                <td>{{order.created}}</td>
                <td>{{order.status}}</td>
                {% if order.price %}
                    <td>{{order.price}}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td>{{order.deadline}}</td>
                <td>Actions</td>
            </tr>
        {% endfor %}
    </table>

{% include  'pagination.html' with page=orders %}

{% else %}
    <p>No orders.</p>
{% endif %}
{% endblock %}