{% extends "index.html" %}

{% load static %}

{% block title %}Orders{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/order_status.css' %}">
<script src="https://kit.fontawesome.com/f9c292dca4.js" crossorigin="anonymous"></script>
{% if orders %}
<div class="sign_in_wrapper">
    <div class="sign_in_form">
        <h2>Orders</h2>
        <hr>
        <div class="buttons">
            <div>
                <a href="{% url 'create_order' %}" class="btn ">Add order</a>
            </div>
            <div>
                <a href="{% url 'chat:index' %}" class="btn" target="_blank">Chat</a>
            </div>
        </div>
        <table>
        <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Price($)</th>
            <th>Deadline</th>
            <th>Paid</th>
            <th>Actions</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{order.created}}</td>
            <td id='status'>{{order.status}}</td>
            {% if order.price %}
                <td>{{order.price}}</td>
            {% else %}
                <td>
                   -
                </td>
            {% endif %}
            <td>{{order.deadline}}</td>
            <td>
                {% if order.paid %}
                    <i class="fas fa-times-circle"></i>
                {% else %}
                    <i class="fas fa-times-circle"></i>
                {% endif %}
            </td>
            <td>
                {% if order.file %}
                <form enctype="multipart/form-data" action="{% url 'download' path=order.file %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Download" class="btn btn-link btn-revoke submit-color">
                </form>
                {% endif %}
                <a href="{{order.get_absolute_url}}" class="btn btn-link btn-detail submit-color">Detail</a>
                {% if order.status == 'processing' %}
                    <form action="{{order.get_absolute_url}}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Revoke" class="btn btn-link btn-revoke submit-color">
                    </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </table>
        {% include  'pagination.html' with page=orders %}
    </div>
</div>
{% else %}
<div class="sign_in_wrapper">
    <div class="sign_in_form">
        <div class="no_order_message">
            <p>It seems like you didn't invested some money to us :( Maybe it's time to start? 😉</p>
        </div>
        <div class="buttons">
            <div>
                <a href="{% url 'create_order' %}" class="btn ">Add order</a>
            </div>
            <div>
                <a href="{% url 'chat:index' %}" class="btn" target="_blank">Chat</a>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}