{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Chat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="#">
	<link href="{% static 'css/chat.css' %}" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>

<body style="overflow: hidden;">
	<div class="layout">
		<div class="sidebar">
			<div class="container">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="conversations" role="tabpanel">
						<div class="middle">
							<h4>Chats</h4>
							<hr>
							<ul class="nav discussions" role="tablist">
								{% for chat in chats %}
								{% for u in chat.users.all %}
								{% if u.id != user.id %}
								<li>
									<a href="{% url 'chat:messages' chat.id %}" class="contact filter direct active"
										data-chat="open" data-toggle="tab" role="tab" aria-controls="chat1" chat-id={{chat.id}}
										aria-selected="true">
										<div class="status online"><img src="{% static 'img/avatars/user.svg' %}"
												alt="avatar"></div>
										<div class="content">
											<div class="headline">
												<h5>{{u.first_name}} {{u.last_name}}</h5>
												{% if u.is_superuser %}
												<span>Admin</span>
												{% elif u.is_staff %}
												<span>Manager</span>
												{% endif %}
											</div>
										</div>
									</a>
								</li>
								{% endif %}
								{% endfor %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Start of Chat -->
		<div class="chat" id="chat-close">
			<div class="tab-content">
				<div class="tab-pane fade show active" id="chat1" role="tabpanel">
					<div class="item">
						<div class="content" style="padding: 0 20px;">
							<div class="container">
								<div class="top">
									<div class="headline">
										<img src="{% static 'img/avatars/user.svg' %}" alt="avatar">
										<div id="info-user" class="content" style="margin-top: -25px;">
											<h5>{{admin.first_name}}</h5>
											<span>{{admin.last_name}}</span>
										</div>
									</div>
										<button type="submit" class="btn prepend open-side-bar" style="margin-right:2%;position:relative;">
											<i data-eva="arrowhead-left"></i>
										</button>
								</div>
							</div>
							<div class="middle" id="scroll">
								<div class="container" style="width: 100%;">
									<ul id="chat">
										{% for message in messages %}
										{% if message.user.id == user.id %}
										<li>
											<div class="content">
												<div class="message">
													<div class="bubble">
														<p>{{message.message}}</p>
													</div>
												</div>
												<span>{{ message.created }}</span>
											</div>
										</li>
										{% else %}
										<li>
											<img src="../../static/img/avatars/user.svg" alt="avatar">
											<div class="contentRevers">
												<div class="message">
													<div class="bubble">
														<p>{{message.message}}</p>
													</div>
												</div>
												<span>{{ message.created }}</span>
											</div>
										</li>
										{% endif %}
										{% endfor %}
									</ul>
								</div>
							</div>
							<div class="container">
								<div class="bottom">
									<form id="sender-form" action="#" method="POST">
										{% csrf_token %}
										<input id="message" class="form-control" placeholder="Type message..." style="width: 90%;">
										<button type="submit" class="btn prepend"><i
												data-eva="paper-plane"></i></button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="{% static 'js/vendor/popper.min.js' %}"></script>
	<script src="{% static 'js/vendor/feather.min.js' %}"></script>
	<script src="{% static 'js/vendor/eva.min.js' %}"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/swipe.min.js' %}"></script>
	<script src="{% static 'js/chat.js' %}"></script>
</body>

</html>