{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Chat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="#">
	<link href="{% static 'css/lib/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'css/swipe.min.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'img/favicon.png' %}" type="image/png" rel="icon">
</head>

<body>
	<div class="layout">
		<div class="sidebar">
			<div class="container">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="conversations" role="tabpanel">
						<div class="middle">
							<h4>Chats</h4>
							<hr>
							<ul class="nav discussions" role="tablist">
								{% for chat in chats %}
								{% for u in chat.users.all %}
								{% if u.id != user.id %}
								<li>
									<a href="{% url 'chat:messages' chat.id %}" class="contact filter direct active"
										data-chat="open" data-toggle="tab" role="tab" aria-controls="chat1"
										aria-selected="true">
										<div class="status online"><img src="{% static 'img/avatars/user.svg' %}"
												alt="avatar"></div>
										<div class="content">
											<div class="headline">
												<h5>{{u.first_name}} {{u.last_name}}</h5>
												{% if u.is_superuser %}
												<span>Admin</span>
												{% else %}
												<span>Manager</span>
												{% endif %}
											</div>
										</div>
									</a>
								</li>
								{% endif %}
								{% endfor %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Start of Chat -->
		<div class="chat">
			<div class="tab-content">
				<div class="tab-pane fade show active" id="chat1" role="tabpanel">
					<div class="item">
						<div class="content">
							<div class="container">
								<div class="top">
									<div class="headline">
										<img src="{% static 'img/avatars/user.svg' %}" alt="avatar">
										<div id="info-user" class="content">
											<h5>{{admin.first_name}}</h5>
											<span>{{admin.last_name}}</span>`
										</div>
									</div>
								</div>
							</div>
							<div class="middle" id="scroll">
								<div class="container">
									<ul id="chat">
										{% for message in messages %}
										{% if message.user.id == user.id %}
										<li>
											<div class="content">
												<div class="message">
													<div class="bubble">
														<p>{{message.message}}</p>
													</div>
												</div>
												<span>{{ message.created|date:"D d M Y H:i" }}</span>
											</div>
										</li>
										{% else %}
										<li>
											<img src="../../static/img/avatars/user.svg" alt="avatar">
											<div class="content">
												<div class="message">
													<div class="bubble">
														<p>{{message.message}}</p>
													</div>
												</div>
												<span>{{ message.created|date:"D d M Y H:i" }}</span>
											</div>
										</li>
										{% endif %}
										{% endfor %}
									</ul>
								</div>
							</div>
							<div class="container">
								<div class="bottom">
									<form id="sender-form" action="#" method="POST">
										{% csrf_token %}
										<input id="message" class="form-control" placeholder="Type message..."
											rows="1"></textarea>
										<button type="submit" class="btn prepend"><i
												data-eva="paper-plane"></i></button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="{% static 'js/vendor/popper.min.js' %}"></script>
	<script src="{% static 'js/vendor/feather.min.js' %}"></script>
	<script src="{% static 'js/vendor/eva.min.js' %}"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/swipe.min.js' %}"></script>
	<script>
		$(document).ready(function () {
			chatId=null
			$('.contact').click(function (e) {
				e.preventDefault();
				$.ajax({
					type: 'GET',
					async: true,
					url: this.href,
					success: function (data) {
						$('#chat li').remove();
						$('#info-user h5').remove();
						$('#info-user span').remove();
						id = data['sender_id'];
						chatId=data['chat_id'];
						$('#info-user').append(
							`<h5>${data['receiver_f']}  ${data['receiver_l']} </h5>
							<span>${data['receiver_email']} </span>`
						)
						data['results'].forEach(function (message) {
							if (id !== message['user_id']) {
								$('#chat').append(
									`<li>
									<img src="../../static/img/avatars/user.svg" alt="avatar">
										<div class="content">
											<div class="message">
												<div class="bubble">
													<p>${message['message']}</p>
												</div>
											</div>
											<span>${message['created']}</span>
										</div>
									</li>`);
							} else {
								$('#chat').append(
									`<li>
										<div class="content">
											<div class="message">
												<div class="bubble">
													<p>${message['message']}</p>
												</div>
											</div>
											<span>${message['created']}</span>
										</div>
										</li>`);
							}
						});
					},
					dataType: 'json',
				});
			});
			$('#sender-form').submit(function(e){
				e.preventDefault();
				var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
				var message=$('#message').val();
				$.ajax({
					type: 'POST',
					async: true,
					url: `/chat/${chatId}/`,
					data: { csrfmiddlewaretoken:'{{csrf_token}}',message:message},
					success: function(data){
						$('#chat').append(
							`<li>
							<img src="../../static/img/avatars/user.svg" alt="avatar">
								<div class="content">
									<div class="message">
										<div class="bubble">
											<p>${data['message']}</p>
										</div>
									</div>
									<span>${data['created']}</span>
								</div>
							</li>`);
					},
					dataType: 'json',
				});
			});
		});
	</script>
</body>

</html>