{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Chat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="#">
	<link href="{% static 'css/lib/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'css/swipe.min.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'img/favicon.png' %}" type="image/png" rel="icon">
</head>

<body>
	<div class="layout">
		<div class="sidebar">
			<div class="container">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="conversations" role="tabpanel">
						<div class="middle">
							<h4>Managers</h4>
							<hr>
							<ul class="nav discussions" role="tablist">
								<li>
									<a href="#chat1" class="filter direct active" data-chat="open" data-toggle="tab"
										role="tab" aria-controls="chat1" aria-selected="true">
										<div class="status online"><img src="{% static 'img/avatars/user.svg' %}" alt="avatar"></div>
										<div class="content">
											<div class="headline">
												<h5>Ham Chuwon</h5>
												<!-- <span>Today</span> -->
											</div>
											<p>Please review and sign the binding agreement.</p>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Start of Chat -->
		<div class="chat">
			<div class="tab-content">
				<div class="tab-pane fade show active" id="chat1" role="tabpanel">
					<div class="item">
						<div class="content">
							<div class="container">
								<div class="top">
									<div class="headline">
										<img src="{% static 'img/avatars/user.svg' %}" alt="avatar">
										<div class="content">
											<h5>Quincy Hensen</h5>
											<!-- <span>Away</span> -->
										</div>
									</div>
								</div>
							</div>
							<div class="middle" id="scroll">
								<div class="container">
									<ul>
										<li>
											<img src="{% static 'img/avatars/user.svg' %}" alt="avatar">
											<div class="content">
												<div class="message">
													<div class="bubble">
														<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
													</div>
												</div>
												<span>07:30am</span>
											</div>
										</li>
										<li>
											<div class="content">
												<div class="message">
													<div class="bubble">
														<p>Many desktop publishing packages.</p>
													</div>
												</div>
												<span>11:56am</span>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="container">
								<div class="bottom">
									<form>
										<textarea class="form-control" placeholder="Type message..." rows="1"></textarea>
										<button type="submit" class="btn prepend"><i data-eva="paper-plane"></i></button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="{% static 'js/vendor/jquery-slim.min.js' %}"></script>
		<script src="{% static 'js/vendor/popper.min.js' %}"></script>
		<script src="{% static 'js/vendor/feather.min.js' %}"></script>
		<script src="{% static 'js/vendor/eva.min.js' %}"></script>
		<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/swipe.min.js' %}"></script>
</body>

</html>