{% load static %}
<nav class="navbar navbar-light nav-col navbar-shadow">
    <a class="navbar-brand ml-4" href="/">
        <img src="{% static 'images/home.svg' %}" alt="home" class="d-inline block align-top">
     <h1 class="navbar-header">Web studio</h1>
    </a>
    <ul class="nav justify-content-end">
        {% if request.user.is_authenticated %}
        <li class="nav-item mr-4">
            <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-lg">Logout</a>
        </li>
        {% else %}
            <li class="nav-item mr-4">
                <a href="{% url 'login' %}" class="btn btn-outline-success btn-lg">Login</a>
            </li>
            <li class="nav-item mr-4">
                <a href="{% url 'register' %}" class="btn btn-outline-primary btn-lg">Sign up</a>
            </li>
        {% endif %}
    </ul>
</nav>